<div  class="bookList">
    <style>
        /*.bookList table{width: 1258px;height: 150px; margin:auto;margin-top: 20px}*/
        /*.bookList ul{width: 200px;height: 150px; margin-left:200px;margin-top: 20px}*/
        .bookList ul li{background: #f2dede;border: 1px solid gray;
            display: inline-block;width: 150px;height: 200px ;margin-left:20px;margin-top: 20px}
    </style>
    <ul>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
    </ul>

</div>