<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.file_manager.mapper.IBookMapper">

    <select id="findAll"  resultType="com.cj.file_manager.entity.Book">
          select
                id as id,
                name as name,
                size as size,
                url as url
          from
                book
    </select>
</mapper>